html,
body {
  background: url(1*o5wm_bqoF7qKpup7MWDvEw.png) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #blue; 
}

h1 {
  font-size: 3rem; 
  color: #ffffff;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff; 
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 4px;
  cursor: pointer;
}

.btn-xl {
  padding: 1rem 2rem; 
}

